canvas {
    display: block;
    margin: 0 auto;
}

body {
    display: block;
    width: calc(100vw);
    height: calc(100vh);
    background-image: radial-gradient(rgb(24, 58, 11), rgb(0, 0, 0));
    overflow: hidden;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

#header {
    display: flex;
    width: 100vw;
    align-items: center;
    height: 60px;
    background-color: rgb(36, 36, 36);
    border-bottom: 1px solid rgba(255, 255, 255, 0.068);
}

a {
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    line-height: 1.4em;
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    text-decoration: none;
    padding: 15px;
    font-weight: bolder;
    text-transform: uppercase;
}

a:hover {
    color: rgba(255, 255, 255, 0.555);
}